@model zengamemanifesto.Models.VideoSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>@Html.DisplayFor(model => model.Heading)</h2>
</div>
<div>
    <iframe width="560" height="315" src="@Html.DisplayFor(model => model.EmbededUrl)" frameborder="0" allowfullscreen></iframe>
    
</div> 

<div>
    @Html.DisplayFor(model => model.Text)        
</div>
