
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Curriculum</h2>

Curriculum   These books are to be read in the following order. It is all based on Dr. Ken Wilber’s spiral dynamics.
<br /><br />
Foundation: Finding love with Jesus Christ <br />
The virtue of selfishness – Ayn Rand <br />
Angel's ride <br />
Zen game manifesto 
<br /><br />
Then any of the following Books in the folder could be read at any time.
<br />The American You - Part 1 in the free and brave series
<br />The Self Empowered you - Part 2 in the free and brave series
<br /><br />
<a href="https://www.youtube.com/watch?v=NSY4T_dQkAE">Introduction to Spiral Dynamic’s</a> 
<br />
<a href="~/Img/spiral.jpg">
    <img src="~/Img/spiral.jpg" width="500" />
</a>

