
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Educational Hall</h2>
<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLCGPyeFwcJOA-qNq3mVbc79MuQrktCn6r" frameborder="0" allowfullscreen></iframe>
<br /><br />
<h3>The music culture of the Zen game</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLCGPyeFwcJODG-s2yTd02hWiqPm3yAG5Y" frameborder="0" allowfullscreen></iframe>