
@{
    ViewBag.Title = "Creed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Creed</h2>

<br /> I want to start with pointing out that the road to a sustainble future with human rights for all, is going be be throug Amnesty International.
<br /><a href="https://www.amnesty.org/en/"><img src="https://www.amnesty.se/files/img/AI_logo_2013_x2.png" /></a>
<br /><br />

<hr />
<dl class="">
    <dd>
        <h2>Earth under rule of God and Law</h2><br />
        <i>Our generation sees the need to bridge the social communication between the sexes, human rights can not be built on gender. For this to happen men and women need to find means to communicate with good understanding of how both can live without the cost of the other.</i>
        <br />
        In the day and age, we live in as humanity faces the need of a global government as we are going to fight, the global catastrophes (environmental, poverty, starvation and famine), humanity have put on to this world. The importance of a global constitution with rights for the people of the earth. To ensure a free world it needs to be written under the value of Liberty and justice indivisible for all.
        <br />
        I want to define here what the word of Liberty to me means:
        <i><bold>"We hold these truths to be self-evident, that all men and women are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness."</bold></i>
        <br />
        and Justice: <i><bold>"The nature of justice as both a moral virtue of character and a desirable quality of political society, as well as how it applies to ethical and social decision-making."</bold></i>
        <br /><br /> For deeper understanding of these philosofical values check out the Post-Rawls works of: 
        the globalist one of Thomas Pogge, the feminist one of Martha Nussbaum, and the rights-based one of Michael Boylan.
        <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f-wWBGo6a2w" frameborder="0" allowfullscreen></iframe><br />
        I don't see Jordan Peterson an alt right person, he just don't understand trance gender people because he only follow the bible spiritual teaching.
        <br />
        <h4>The Gear's oath</h4>
        <i>
            A Gear belongs to his life's journey.<br />
            A Gear give's his mind, body and reality to god.<br />
            A Gear is who's not and whats not.<br />
            God is the gamer behind the Gear above this reality.<br />
            Me [name] is the Gear(Player).  <br />
            I the Soul step a side.<br />
            Life is the Game God PLAY's.<br />
        </i>
        <br />
        With this facing WHAT EVER if so battle or just being angry at home you can recite this and get peace and detach from what ever pain that you have connected with life.

        <br /><br />
        Peace is strength for human evolution, the human condtion is that of 1 year of peace on every 14 years of war.
        <br /><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1BcRQ5wTRRY" frameborder="0" allowfullscreen></iframe>
        <br /><br />
        And of course more power to women! Yo, I just want to have fun together with women.<br/>
        <img src="https://i2.wp.com/gandalfschoolforthegifted.files.wordpress.com/2016/08/6tag-63266-928988562952752596_63266.jpg?w=564&h=&crop=1&ssl=1&zoom=2" /><br />
        image from Satan's feminist: <a href="http://nattskiftet.tictail.com/">http://nattskiftet.tictail.com/</a>
        <br /><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IpEadV2imm4" frameborder="0" allowfullscreen></iframe>
        <br/><b>Jesus made me do it.</b>
        <br /><br />
        We are soldiers<br />
        We guard honor<br />
        and wage war<br />
        In between we wait<br />
        Like a stone<br />
        Until our chance<br />
        comes again....</i>
        <br /><br />

    </dd>

</dl>


