
@{
    ViewBag.Title = "Creed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Creed</h2>
<hr />
<dl class="">
    <dd>
        <i>Our generation sees the need to bridge the social communication between the sexes, human rights can not be built on gender. For this to happen men and women need to find means to communicate with good understanding of how both can live without the cost of the other.</i>
        <br />
        In the day and age, we live in as humanity faces the need of a global government as we are going to fight, the global catastrophes (environmental, poverty, starvation and famine), humanity have put on to this world. The importance of a global constitution with rights for the people of the earth. To ensure a free world it needs to be written under the value of Liberty and justice indivisible for all.
        <br />
        I want to define here what the word of Liberty to me means:
        <i><bold>"We hold these truths to be self-evident, that all men and women are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness."</bold></i>
        <br />
        and Justice: <i><bold>"The nature of justice as both a moral virtue of character and a desirable quality of political society, as well as how it applies to ethical and social decision-making."</bold></i>
        <br /><br /> For deeper understanding of these philosofical values check out the Post-Rawls works of: 
        the globalist one of Thomas Pogge, the feminist one of Martha Nussbaum, and the rights-based one of Michael Boylan.
        <br /><br />
        Peace is strength for human evolution, the human condtion is that of 1 year of peace on every 14 years of war.
        <br /><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1BcRQ5wTRRY" frameborder="0" allowfullscreen></iframe>
    </dd>
</dl>

