
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The creator</h2>

<dd>

    <h5>Daniel ”Matrim/Roman” Johansson</h5><img src="~/Img/546.jpg" height="300" style="float: right;" />
    <br />
    Hi, so who am I? Well the name that was given to me is Daniel Johansson, I go under the name Matrim with in the pick-up community but as broke off from that path and started to write The American you I changed my alias to Roman. I am an author of 6 self-help books. I have been on the spiritual journey since 1997. After a life crisis that happened after a journey to Estonia, I started to write out and to explain the world thru all the things I have learned during my years as a spiritual practitioner, as a pick-up artist and as a system scientist with of course a lot of free studies within philosophy. This to prevent such crisis to happen again. All my work has now evolved to this web page that is to be a school for people who wish to be high preforming, successful or just a great leader.
    
    
</dd>
